@model ProyectoGrupo4.Models.Resenna

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Resenna</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Estado.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Producto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.NombreUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.NombreUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calificación)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calificación)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Reseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Reseña)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_Reseña }) |
    @Html.ActionLink("Back to List", "Index")
</p>
