@model ProyectoGrupo4.Models.Comentario

<h2>Nuevo comentario</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Texto)
        @Html.TextAreaFor(m => m.Texto, new { @class = "form-control", rows = 3 })
        @Html.ValidationMessageFor(m => m.Texto, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Publicar</button>
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
}
